{% extends 'adminapp/base.html' %}
{% load static %}


{% block container %}
    <div class="products_list">

			<a href="{% url 'admin:product_create' category.pk %}" class="button4">новый товар</a>

		
		{% for object in object_list %}
			<div class="category_record margin1 {% if not object.is_active %}not_active{% endif %}">
				<img src="/media/{{ object.image|default:'products_images/tovar_promo.jpg' }}" alt="{{ object.name }}" class="admin_img">
				<div class="category_name2">
					{{ object.name|title }}
				</div>
				<div class="category_actions ">

						<a href="{% url 'admin:product_read' object.pk %}" class="button6 margin0">подробнее</a>


						<a href="{% url 'admin:product_update' object.pk %}" class="button6 margin0">редактировать</a>


						<a href="{% url 'admin:product_delete' object.pk %}" class="button6 margin0">удалить</a>

				</div>
				<div class="category_desc razmer_text margin0">
					<b>Цена:</b>
					<p>{{ object.price }} руб</p>
					<b>Количество: </b>
					<p>{{ object.quantity }}</p>
				</div>
				<div class="category_desc razmer_text margin0">
					{{ object.short_desc|title }}
				</div>
			</div>
		{% endfor%}
	</div>
{% endblock %}