{% extends 'adminapp/base.html' %}
{% load staticfiles %}


{% block container %}
    <div class="user_delete user_record marg_0">
        Уверены, что хотите удалить <b>{{ object.name }}</b>?
        <div class="knop">
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger button6" type="submit" value="удалить">
        </form>

        <a href="{% url 'admin:categories' %}" class="btn btn-success button6">отмена</a>
            </div>
    </div>
{% endblock %}