{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    ToyRoom | {{ user.first_name }}
{% endblock %}

{% block container %}
        <div class="bl-3">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}

        <input class="form-control menu-link" type="submit" value="сохранить">
    </form>
            <div class="reg">
            <div class="user_avatar">
            <img class="ava" src="/media/{{ user.avatar }}" alt='Фото профиля'>
        </div>

    <a href="{% url 'main:main' %}" class=" form-control last menu-link but but1 menu-link">
        На главную
    </a>
</div>
        </div>
{% endblock %}