{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
         {% include 'mainapp/includes/inc__main_menu.html' %}
            <div class="call">
               <div class="bl">
                <h2 class="cal-t">Связаться с нами по телефонам:</h2>
                <h3 class="cal_t_2"> • 89045103710</h3>
                <h3 class="cal_t_2"> • 89006304114</h3>
                <h2 class="cal-t">Группа в ВК:</h2>
                <h3 class="cal_t_2"> <a class="colore" href="https://vk.com/public173903545" target="_blank">Toy Room - вязаные игрушки ручной работы.</a></h3>
                <h2 class="cal-t">Электронная почта:</h2>
                <h3 class="cal_t_2">toy-room18@yandex.ru </h3>
                </div>
            </div>
{% endblock %}
